
  
/* LET THE PARALLAX BEGIN */
  
  
  
  
  
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
  
img {
    vertical-align: middle;
}
  
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
  
textarea {
    resize: vertical;
}
  

body, html {
  height: 100%;
  min-height: 100%;
  background-color: #000000;
  font-family: Helvetica; 
}
  
.no-js {
  padding-top: 106px;
}
  
h2 {
  margin-top: 0;
}
  
section {
  min-width: 960px;
  opacity: 0;
}
  
.loaded section, .no-js section {
  opacity: 1;
}
  
main {
  overflow-x: hidden;
}
  
#preload {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
  
.bcg {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  width: 100%;
}
  
.paraContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
  
.paraContent {
  max-width: 700px;
  position: absolute;
  left: 50%;
  top: 10%;
  color: #fff8de;
  background-color: rgba(0,0,0,0.5);
}
  
.paraContent h2  {
  color: #fff8de;
  background-color: rgba(0,0,0,0.5);
  padding: 10px 5px;
  font-size: 35px;
  line-height: 38px;
  margin-bottom: 12px;
}
  
  
/* Slide 1 */
#slide-1 .bcg {
  background-image: url('http://2.bp.blogspot.com/-XXbQibV32Sc/UDerpV3S-qI/AAAAAAAABGY/oPoBI5HtF5Y/s1600/DSC01592.JPG');
}
  
/*#slide-1 .paraContent {
  bottom: 200px;
  top: 30%;
}*/
  

  
  
/* Slide 2 */
#slide-2 .bcg {
  background-image: url('http://1.bp.blogspot.com/-oERzgWsiXag/T8IgRiaSAKI/AAAAAAAABPM/T82MQ6zgWvY/s1600/Akka+Majdal+Shams+Negev+176.JPG');
}
  
/*#slide-2 .paraContent {
    margin-left: -450px;
    left: 60%;
}
  
#slide-2 h2 {
    position: fixed;
    top: 90%;
    left: 10%;
}
  */
  
  
  
/* Slide 3 */
#slide-3 .bcg {
  background-image: url('http://chyzmyz.files.wordpress.com/2010/01/photo-land-mine-pile.jpg');
}
  
/*#slide-3 .paraContent {
  margin-left: -239px;
}

#slide-3 h2 {
  color: #f2ead6;
  background-color: rgba(0,0,0,0.6);
}*/
  
  
  
  
/* Slide 4 */
#slide-4 .bcg {
  background-image: url('http://hydaway.files.wordpress.com/2012/07/thailand-and-cambodia-5241.jpg');
}
  
/*#slide-4 .paraContent {
    margin-left: -450px;
    position: fixed;
    top: 250px;
}
  
#slide-4 h2 {
    background: none;
    padding-left: 0;
    padding-right: 0;
}*/
