/*style.css*/
/**/
/* Team, The  08/05/14             */
/* for Landmine Incident Reporter  */

/* CSS Style Sheet : style               */
/* A file to define CSS used site wide.  */


/* * * * * * * * * * * * * * * * * * * * * * * * *
 *            Colours                            *
 * * * * * * * * * * * * * * * * * * * * * * * * *
 * 
 * This site uses a 4-colour scheme:
 *   (in order from lightest to darkest)
 *
 *   -> Lighter highlight Colour
 *   -> Lighter Colour
 *   -> Darker Colour
 *   -> Darker 'lowlight' Colour
 *
 * * * * * * * * * * * * * * * * * * * * * * * * *
 */


/* * * * * * * * * * * * * * * * * * * *
 *               Overall               *
 * * * * * * * * * * * * * * * * * * * */
body,
html {
  background: #213d70;  /* Darker 'lowlight' Colour */
  background: url('http://upload.wikimedia.org/wikipedia/commons/f/f0/Land_mine_casualties_and_fatalities.png') no-repeat center center fixed,
              #213d70;  /* Darker 'lowlight' Colour */
  background-size: cover;
}

#not-footer {
  padding-top: 70px;
}


/* * * * * * * * * * * * * * * * * * * *
 *               Header                *
 * * * * * * * * * * * * * * * * * * * */
header .title {
  margin: 0px auto;
  text-align: center;
  font-size: 42pt;
}

.container-fluid {
  padding-right: 0;
}

/* * * * * * * * * * * * * * * * * * * *
 *               Navbar                *
 * * * * * * * * * * * * * * * * * * * */
.navbar-custom {
  background-color: #E2E5E4 !important;  /* Darker Colour */
}

.navbar-custom a {
  color: #000 !important;
  font-size: 1.1em;
}

.navbar-nav a:not(.active):hover {
  /*background-color: #EEEFEF !important;  /* Lighter highlight Colour */*/
  cursor: pointer;
  color: #fff !important;
  background-color: #B70606 !important;
}

.navbar-nav .active {
  /*background-color: #3F6FC7 !important;  /* Lighter Colour */*/
  /*color: #EEEFEF;*/
  color: #fff !important;
  background-color: #BE1F1F !important;
}

.navbar-toggle-custom {
  border: solid 2px #000 !important;
}

.icon-custom {
  background-color: #000 !important;
}

.navbar-nav {
  cursor: pointer;
}

.links {
  padding: 45px !important;
}


/* * * Old Navbar * * *
header nav {
  display: inline-block;
}

header nav a {
  text-decoration: none;
  text-align: center;
  vertical-align: center;
  background: #009;
}
* * * * * * * * * * * */


/* * * * * * * * * * * * * * * * * * * *
 *               Content               *
 * * * * * * * * * * * * * * * * * * * */
.firstDiv {
  margin-top: 70px;
}


/* * * * * * * * * * * * * * * * * * * *
 *                Login                *
 * * * * * * * * * * * * * * * * * * * */
.loginSec {
  background-color: rgba(222,222,222,0.9);
  border: 1px solid #000;
  border-radius: 5px;
  padding: 15px 30px 30px;
  margin-top: 45px;
}

h1 {
	font-size: 2em;
	padding-bottom: 20px;
}

form input {
	margin-bottom: 10px;
}

.loginBtn {
	width: 100%;
	height: 105px;
	margin-top: 23px;
}

.registerBtn {
	width: 100%;
	height: 105px;
	margin-top: 23px;
	padding-top: 40px !important;
	font-size: 1.2em !important;
}

.btn-success {
	background-image: none !important;
	background-color: #B70606 !important;  /* Darker Colour */
	border-color: #000 !important;  /* Darker 'lowlight' Colour */
}

.btn-success:hover {
	background-color: #BE1F1F !important;  /* Darker 'lowlight' Colour */
}


/* * * * * * * * * * * * * * * * * * * *
 *               Footer                *
 * * * * * * * * * * * * * * * * * * * */
footer {
  width: 100%;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 2px;
  color: #FFF;
  background-color: #B70606;  /* Darker Colour */
}


/* * * * * * * * * * * * * * * * * * * *
 *           Sticky Footer             *
 * * * * * * * * * * * * * * * * * * * */
html,
body {
	height: 100%;  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#not-footer {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -60px;  /* negative fixed footer height */
}

/* Footer-Push to take up space that footer would otherwise fill */
#not-footer::after {
  content: "";
  display: block;
  margin-top: 50px;  /* footer padding */
	height: 60px;  /* fixed footer height */
}

footer {
  height: 60px;  /* fixed footer height */
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
	footer {
		/*margin-left: -20px;
		margin-right: -20px;
		padding-left: 20px;
		padding-right: 20px;*/
	}
}


/* EOF */
