<html ng-app="SignUp">

<head>
  <title>Sign Up</title>

  <!-- Bootstrap CDN -->
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" />

  <!-- Google fonts -->
  <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300' rel='stylesheet' type='text/css'> 


</head>

<body ng-controller="SignUpController">
  <!-- Main Container -->
  <div class="main container">

    <!-- Header -->
    <header class="row">
      <h1>Sign Up</h1>
    </header>

<!--
<form role="form">
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <div class="form-group">
    <label for="exampleInputFile">File input</label>
    <input type="file" id="exampleInputFile">
    <p class="help-block">Example block-level help text here.</p>
  </div>

  </form>
-->

<section class="login cf">
  <form name="login" action="index_submit" method="get" accept-charset="utf-8" autocomplete="off">
    <ul>
      <li><label for="username">Choose a username</label>
        <input type="text" required id="username" placeholder="username" autofocus>
      </li>
      <li><label for="password">Choose a password</label>
        <input type="password" required id="password" placeholder="password">
      </li>

      <li><label for="password">Re-type your Password</label>
        <input type="password" required id="retyped_password" placeholder="password">
      </li>

      <li><label for="password">The institution (e.g. hospital, clinic, or university) that you are affiliated with</label>
        <input type="text" required id="institution_name" placeholder="Trinity General" required>
      </li>

      <li><label for="password">Address of your institution</label>
        <input type="text" required id="address" placeholder="Trinity General" required>
      </li>

      <li><label for="password">Contact number for verification.</label>
        <input type="number" required id="phone" placeholder="1-234-5678" required>
      </li>
<!--
      <input type="submit" id="submit" value="Login" 

    document.getElementById("username"),
    document.getElementById("password"),
    document.getElementById("retyped password"),
    document.getElementById("institution name"),
    document.getElementById("address"),
    document.getElementById("phone")
    -->
    <input type="button" id="submit_button" value="Place a registration ticket" onClick="addTicket();">

  </ul>
</form>
</section>

<p id="status"></p>




<!--
<ul ng-repeat="message in messages">
  <li>{{message.from}}: {{message.content}}
  </li>
</ul>
<form ng-submit="addMessage();">
  <input type="text" ng-model="message"/>
  <input type="submit" value="Send Message"/>
</form>
-->



<!-- Footer -->
<footer class="row">
  <div class="col-sm-12">

  </div>
</footer>

</div>


<!-- Angular CDN 
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.min.js"></script>-->

  <!-- Firebase CDN -->
  <script src="http://cdn.firebase.com/js/client/1.0.6/firebase.js"></script>

  <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js'></script>
    

<!-- AngularFire CDN 
  <script src="http://cdn.firebase.com/libs/angularfire/0.7.1/angularfire.min.js"></script>-->

  <!-- Custom JS -->
  <script src="signup.js"></script>

</body>
</html>
